:root {
  --color-primary: #2563eb;
  --color-secondary: #f97316;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-neutral-light: #f3f4f6;
  --color-neutral-dark: #111827;
  --color-text-primary: #1f2937;
  --color-text-secondary: #4b5563;
  --color-text-muted: #6b7280;
  --color-bg-light: #ffffff;
  --color-bg-dark: #374151;
  --color-card-bg: #ffffff;
  --color-card-shadow: rgba(0, 0, 0, 0.1);
}

/* 隐藏所有滚动条 */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
